<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcesyTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProcesyTest.Properties.Settings>
            <setting name="startInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="askExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="askDelete" serializeAs="String">
                <value>True</value>
            </setting>
        </ProcesyTest.Properties.Settings>
    </userSettings>
</configuration>